---
const links = [
  { icon: "dashboard_2", text: "Dashboard", href: "#" },
  { icon: "person", text: "Condominios", href: "#", active: true },
  { icon: "receipt_long", text: "Ordenes", href: "#" },
  { icon: "data_thresholding", text: "Analisis", href: "#" },
  { icon: "chat", text: "Mensajes", href: "#", count: 23 },
  { icon: "dashboard_2", text: "Configuración", href: "#" },
  { icon: "logout", text: "Cerrar sesión", href: "#", danger: true, bottom: true },
];
---

<aside class="h-screen  text-[#363949] flex flex-col">
  <!-- Top -->
  <div class="flex items-center justify-between mt-6 px-4">
    <div class="flex items-center space-x-2">
      <img src="/grupo-bandle.svg" alt="Logo" class="w-60 h-20 object-contain" />
      <h2 class="text-xl font-semibold">
      </h2>
    </div>
    <div id="close-btn" class="hidden cursor-pointer">
      <span class="material-symbols-sharp text-2xl">close</span>
    </div>
  </div>

  <!-- Sidebar Links -->
  <div class="flex flex-col mt-12 h-[86vh] relative">
    {links.map(link => (
      <a
        href={link.href}
        class={[
          "flex items-center gap-4 px-8 py-3 transition-all duration-300",
          link.bottom && "absolute bottom-8 w-full",
          link.active
            ? "text-[#7380ec] border-l-4 border-[#7380ec] "
            : link.danger
              ? "hover:text-[#ff7782] text-[#7d8da1]"
              : "hover:text-[#7380ec] text-[#7d8da1]"
        ].filter(Boolean).join(" ")}
      >
        <div class="flex items-center gap-4">
          <span
            class={[
              "material-symbols-sharp text-2xl",
              link.active && "text-[#7380ec]",
            ].filter(Boolean).join(" ")}
          >
            {link.icon}
          </span>
          <h3 class="font-medium text-sm">{link.text}</h3>
        </div>

        {link.count && (
          <span class="bg-[#ff7782] text-white text-xs px-2 py-[2px] rounded">
            {link.count}
          </span>
        )}
      </a>
    ))}
  </div>
</aside>
