<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Dashboard Futer - EL Mejor Orn de LAN Tiembla</title>
		<meta name="description" content="Dashboard Futer - EL Mejor Orn de LAN Tiembla" />
		<meta name="keywords" content="Dashboard Futer, EL Mejor Orn de LAN Tiembla" />1
		<meta name="author" content="Futer" />
		<meta name="robots" content="index, follow" />
		<meta name="theme-color" content="#ffffff" />
		<meta name="googlebot" content="index, follow" />
		<meta name="bingbot" content="index, follow" />
		<meta name="yandexbot" content="index, follow" />
			</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>

	@import "tailwindcss";

	body {
		background: #000;
	}
	html,
	body {

		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
